mat-card {
    width: 400px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
}

mat-card-content {
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: xx-large;
    margin-top: 20px;
}

.description {
    margin-top: 30px !important;
    height: 80px;
}

h2 {
    font-size: xx-large;
    margin-bottom: 50px;
}

button {
    height: 50px;
    width: 150px;
}

.comming-soon-bar {
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #f44336;
    width: 100%;
    color: white;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}